

.aboutme{
    display: flex;
    flex-direction: row;
    padding:0;
    margin: 0;
    flex-wrap: wrap;
    height: calc(100vh - 88px + 50px);
    width: 100%;
    position: relative;
    top:-50px;
    z-index:-1;
    
}

.aboutme .content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    background-color: var(--secondary-black-color);
    padding:50px;
    width: 75%;
    padding-left: 85px;
    height: calc(100vh - 80px + 30px);
    border-bottom-right-radius: 20px;


}

.aboutme .content h2{
    font-style: normal;
    margin-top:100px;
    max-width: 500px;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    display: flex;
    text-transform: capitalize;
    color: #FFFFFF;
}
.aboutme .content p{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    max-width:539px;
    line-height: 160%;

    color: #FFFFFF;
    margin-bottom: 30px;
}
.aboutme .content button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    background: var(--purple-color);
    border: unset;
    border-radius: 8px;
    font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #FFFFFF;

}
.aboutme .imgBox{
    width: 500px;
    height: 650px;
    position: absolute;
    right: 100px;
    top:80px;
}
.aboutme .imgBox img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    object-fit: cover;
    object-position: 100% 40%; /* even if we dont declare this the image will still be centered */
}

.education{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    padding: 0;
    background-color: #0D0D0D;

}

.education  .imgBox{
    position: relative;
    min-width: 587px;
    height: 602px;
    right: -140px;
    border-radius: 20px;
}

.education .imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.education .content{
    background: var(--secondary-black-color);
    display: flex;
    flex-direction: column;
    gap:50px;
    height: 100%;
    flex:1;
    padding: 150px 0;
    padding-left: 220px;

}

.education .content h2{
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
}

.education .content ul{
    display: flex;
    flex-direction: column;
    gap:42px
}
.education .content ul li{
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.education .content ul li h3{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;    
    color: #FFFFFF;   
}

.education .content ul li p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    max-width: 414px;
    color: #FFFFFF;   
}
.career{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}
.career .content h2{
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
}
.career .content p{
    font-family: Sen;
font-size: 18px;
font-style: normal;
margin-top: 20px;
font-weight: 400;
line-height: 30px; /* 166.667% */
max-width: 548px;
    color: #FFFFFF;
}

.career .images{
    display: flex;
    flex-wrap: wrap;
    max-width: 550px;
    gap: 20px;
}

.career .images div:first-child{
    position: relative;
    top: -25px;
    width: 484.114px;
height: 264.114px;
}
.career .images div:nth-child(2){
    position: relative;
    top: 25px;
    width: 220.095px;
height: 220.095px;
}
.career .images div:nth-child(3){
    position: relative;
    top: -25px;
    width: 250.095px;
height: 220.095px;
}
.career .images div:nth-child(4){
    position: relative;
    top: 25px;
    width: 264.114px;
    height: 264.114px;
}
.career .images div:nth-child(5){
    position: relative;
    top: -25px;
    width: 264.114px;
    height: 264.114px;
}
.career .images > div >img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media(max-width:1240px){
.aboutme{
    display: flex;
    flex-direction: row;
    padding:0;
    margin: 0;
    flex-wrap: wrap;
    height: calc(100vh - 88px + 50px);
    width: 100%;
    position: relative;
    top:-50px;
    z-index:-1;
    
}

.aboutme .content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    background-color: var(--secondary-black-color);
    padding:50px;
    width: 75%;
    padding-left: 45px;
    padding-right: 0;
    height: calc(90vh - 80px + 30px);
    border-bottom-right-radius: 20px;


}

.aboutme .content h2{
    margin-top:80px;
    font-size: 38px;
    line-height: 47px;
}
.aboutme .content p{
    font-size: 16px;
    max-width:539px;
    line-height: 160%;
}

.aboutme .imgBox{
    width: 350px;
    height: 420px;
    position: absolute;
    right: 100px;
    top:120px;
}
.aboutme .imgBox img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    object-fit: cover;
    object-position: 100% 40%; /* even if we dont declare this the image will still be centered */
}

.education{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 90vh;
    padding: 0;
    background-color: #0D0D0D;

}

.education  .imgBox{
    position: relative;
    min-width: 400px;
    height: 410px;
    right: -140px;
    border-radius: 20px;
}

.education .imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.education .content{
    background: var(--secondary-black-color);
    display: flex;
    flex-direction: column;
    gap:50px;
    height: 100%;
    flex:1;
    padding: 100px 0;
    padding-left: 220px;

}

.education .content h2{
    font-size: 38px;
    line-height: 47px;
}

.education .content ul{
    display: flex;
    flex-direction: column;
    gap:42px
}
.education .content ul li{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.education .content ul li h3{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 19px;    
    color: #FFFFFF;   
}

.education .content ul li p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    max-width: 414px;
    color: #FFFFFF;   
}
.career{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}
.career .content h2{
    font-size: 38px;
    line-height: 47px;
}
.career .content p{
    font-family: Sen;
font-size: 16px;
margin-top: 20px;
font-weight: 400;
line-height: 24px; /* 166.667% */
max-width: 548px;
color: #FFFFFF;
}

.career .images{
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    gap: 20px;
}

.career .images div:first-child{
    position: relative;
    top: -25px;
    width: 380px;
    height: 228px;
}
.career .images div:nth-child(2){
    position: relative;
    top: 25px;
    width: 180px;
    height: 180px;
}
.career .images div:nth-child(3){
    position: relative;
    top: -25px;
    width: 200px;
    height: 176px;
}
.career .images div:nth-child(4){
    position: relative;
    top: 25px;
    width: 200px;
    height: 200px;
}
.career .images div:nth-child(5){
    position: relative;
    top: -25px;
    width: 180px;
    height: 180px;
}
.career .images > div >img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
}
@media(max-width:1035px){
    
    .aboutme .content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        background-color: var(--secondary-black-color);
        padding:50px;
        width: 60%;
        padding-left: 45px;
        padding-right: 0;
        height: calc(90vh - 50px + 30px);
        border-bottom-right-radius: 20px;
    
    
    }
    
    .aboutme .content h2{
        margin-top:80px;
        font-size: 38px;
        line-height: 47px;
    }
    .aboutme .content p{
        font-size: 16px;
        max-width:450px;
        line-height: 160%;
    }
    
    .aboutme .imgBox{
        width: 350px;
        height: 420px;
        position: absolute;
        right: 30px;
        top:120px;
    }
    .aboutme .imgBox img{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 20px;
        object-fit: cover;
        object-position: 100% 40%; /* even if we dont declare this the image will still be centered */
    }
    
    .education{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 90vh;
        padding: 0;
        background-color: #0D0D0D;
    
    }
    
    .education  .imgBox{
        position: relative;
        min-width: 300px;
        height: 307px;
        right: -140px;
        border-radius: 20px;
    }
    
    .education .imgBox img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: inherit;
    }
    
    .education .content{
        background: var(--secondary-black-color);
        display: flex;
        flex-direction: column;
        gap:50px;
        height: 100%;
        flex:1;
        padding: 100px 0;
        padding-left: 220px;
    
    }
    
    .education .content h2{
        font-size: 38px;
        line-height: 47px;
    }
    
    .education .content ul{
        display: flex;
        flex-direction: column;
        gap:42px
    }
    .education .content ul li{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .education .content ul li h3{
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 19px;    
        color: #FFFFFF;   
    }
    
    .education .content ul li p{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        max-width: 414px;
        color: #FFFFFF;   
    }
    .career{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 40px;
    }
    .career .content{
        padding-left: 40px;
    }
    .career .content h2{
        font-size: 38px;
        line-height: 47px;
    }
    .career .content p{
        font-family: Sen;
    font-size: 16px;

    margin-top: 20px;
    font-weight: 400;
    line-height: 24px; /* 166.667% */
    max-width: 548px;
    color: #FFFFFF;
    }
    
    .career .images{
        display: flex;
        flex-wrap: wrap;
        max-width: 350px;
        gap: 20px;
    }
    
    .career .images div:first-child{
        position: relative;
        top: -25px;
        width: 350px;
        height: 210px;
    }
    .career .images div:nth-child(2){
        position: relative;
        top: 25px;
        width: 140px;
        height: 140px;
    }
    .career .images div:nth-child(3){
        position: relative;
        top: -25px;
        width: 170px;
        height: 149px;
    }
    .career .images div:nth-child(4){
        position: relative;
        top: 25px;
        width: 170px;
        height: 170px;
    }
    .career .images div:nth-child(5){
        position: relative;
        top: -25px;
        width: 140px;
        height: 140px;
    }
    .career .images > div >img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    }

@media(max-width:870px){
    .aboutme{
        display: flex;
        flex-direction: row;
        padding:0;
        margin: 0;
        width: 100%;
        flex-wrap: wrap;
        height: calc(100vh - 88px + 50px);
        width: 100%;
        position: relative;
        z-index:-1;
        
    }
    
    .aboutme .content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        background-color: #010101d9;
        padding:50px ;
        width: 100%;
        z-index: 200;
        padding-left: 85px;
        height: calc(100vh - 80px + 30px);
        border-bottom-right-radius: 0;
    
    
    }
    
    .aboutme .content h2{
        font-style: normal;
        margin-top:100px;
        max-width: 500px;
        font-weight: 700;
        font-size:30px;
        line-height: 37px;
        display: flex;
        text-transform: capitalize;
        color: #FFFFFF;
    }
    .aboutme .content p{
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        max-width:539px;
        line-height: 160%;
    
        color: #FFFFFF;
        margin-bottom: 30px;
    }
  
    .aboutme .imgBox{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100vh - 80px + 30px);
    }
    .aboutme .imgBox img{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 0;
        object-fit: cover;
        object-position: 100% 30%; /* even if we dont declare this the image will still be centered */
    }
    
    .education{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        padding: 0;
        position: relative;
    
    }
    
    .education  .imgBox{
        position: absolute;
        min-width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border-radius: 0;
    }
    
    .education .imgBox img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-position: 0% 30%; /* even if we dont declare this the image will still be centered */
        object-fit: cover;
    }
    
    .education .content{
    background-color: #010101d9;;
        display: flex;
        flex-direction: column;
        gap:50px;
        width: 100%;
        height: 100%;
        z-index: 200;
        flex:1;
        padding-left: 40px;
    
    }
    
    .education .content h2{
        font-style: normal;
        font-weight: 700;
        font-size:30px;
        line-height: 28px;
        color: #FFFFFF;
    }
    
    .education .content ul{
        display: flex;
        flex-direction: column;
        gap:42px
    }
    .education .content ul li{
        display: flex;
        flex-direction: column;
        gap: 18px;
    }
    .education .content ul li h3{
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 20px;    
        color: #FFFFFF;   
    }
    
    .education .content ul li p{
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        max-width: 514px;
        color: #FFFFFF;   
    }
    .career{
        display: block;        
        position: relative;
        overflow: hidden;
    }
    .career .content{
        z-index: 100;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #010101d9;
    }
    .career .content h2{
        font-style: normal;
        font-weight: 700;
        font-size:30px;
        line-height: 38px;
        color: #FFFFFF;
    }
    .career .content p{
        font-family: Sen;
    font-size: 18px;
    font-style: normal;
    margin-top: 18px;
    font-weight: 400;
    line-height: 25px; /* 166.667% */
    max-width: 548px;
        color: #FFFFFF;
    }
    
    .career .images{
        display: flex;
        left: 0;
        top: 0;
        z-index: -1;
        position: absolute;
        justify-content: center;
        min-width: 100vw;
        height: 100%;
        flex-wrap: wrap;
        gap: 20px;
    }
    
    .career .images div:first-child{
        position: relative;
        top: -2px;
        width: 367px;
    height: 200px;
    }
    .career .images div:nth-child(2){
        position: relative;
        top: 25px;
        width: 170px;
    height: 170px;
    }
    .career .images div:nth-child(3){
        position: relative;
        top: -25px;
        width: 250.095px;
    height: 220.095px;
    }
    .career .images div:nth-child(4){
        position: relative;
        top: 25px;
        width: 214.114px;
        height: 214.114px;
    }
    .career .images div:nth-child(5){
        position: relative;
        top: -25px;
        width: 264.114px;
        height: 264.114px;
    }
    .career .images > div >img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
@media(max-width:620px){
    .aboutme{
        display: flex;
        align-items: center;
        padding:0;
        margin: 0;
        width: 100%;
        flex-wrap: wrap;
        height: calc(100vh - 88px + 50px);
        width: 100%;
        position: relative;
        z-index:-1;
        
    }
    
    .aboutme .content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 15px;
        background-color: #010101d9;
        padding:30px ;
        width: 100%;
        z-index: 200;
        padding-left: 25px;
        height: calc(100vh - 80px + 30px);
        border-bottom-right-radius: 0;
    
    
    }
    
    .aboutme .content h2{
        font-style: normal;
        margin-top:100px;
        max-width: 500px;
        font-weight: 700;
        font-size:22px;
        line-height: 27px;
        display: flex;
        text-transform: capitalize;
        color: #FFFFFF;
    }
    .aboutme .content p{
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        max-width:539px;
        line-height: 150%;
    
        color: #FFFFFF;
        margin-bottom: 30px;
    }
  
    .aboutme .imgBox{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100vh - 80px + 30px);
    }
    .aboutme .imgBox img{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 0;
        object-fit: cover;
        object-position: 100% 30%; /* even if we dont declare this the image will still be centered */
    }
    
    .education{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 80vh;
        width: 100vw;
        overflow: hidden;
        padding: 0;
        position: relative;
    
    }
    
    .education  .imgBox{
        position: absolute;
        min-width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border-radius: 0;
    }
    
    .education .imgBox img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-position: 0% 30%; /* even if we dont declare this the image will still be centered */
        object-fit: cover;
    }
    
    .education .content{
    background-color: #010101d9;;
        display: flex;
        flex-direction: column;
        gap:50px;
        width: 100%;
        height: 100%;
        z-index: 200;
        flex:1;
        padding-left: 40px;
        padding-right: 40px;
    
    }
    
    .education .content h2{
        font-style: normal;
        font-weight: 700;
        font-size:22px;
        line-height: 25px;
        color: #FFFFFF;
    }
    
    .education .content ul{
        display: flex;
        flex-direction: column;
        gap:42px
    }
    .education .content ul li{
        display: flex;
        flex-direction: column;
        gap: 18px;
    }
    .education .content ul li h3{
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;    
        color: #FFFFFF;   
    }
    
    .education .content ul li p{
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 150%;
        max-width: 514px;
        color: #FFFFFF;   
    }
    .career{
        display: block;        
        position: relative;
        overflow: hidden;
    }
    .career .content{
        z-index: 100;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        padding-right: 20px;
        justify-content: center;
        background-color: #010101d9;
    }
    .career .content h2{
        font-style: normal;
        font-weight: 700;
        font-size:22px;
        line-height: 25px;
        color: #FFFFFF;
    }
    .career .content p{
        font-family: Sen;
        font-size: 15px;
        font-style: normal;
        margin-top: 18px;
        font-weight: 400;
        line-height: 150%; /* 166.667% */
        max-width: 548px;
        color: #FFFFFF;
    }
    
    .career .images{
        display: flex;
        left: 0;
        top: 0;
        z-index: -1;
        position: absolute;
        justify-content: center;
        min-width: 100vw;
        height: 100%;
        flex-wrap: wrap;
        gap: 20px;
    }
    
    .career .images div:first-child{
        position: relative;
        top: -2px;
        width: 367px;
    height: 200px;
    }
    .career .images div:nth-child(2){
        position: relative;
        top: 25px;
        width: 170px;
    height: 170px;
    }
    .career .images div:nth-child(3){
        position: relative;
        top: -25px;
        width: 250.095px;
    height: 220.095px;
    }
    .career .images div:nth-child(4){
        position: relative;
        top: 25px;
        width: 214.114px;
        height: 214.114px;
        display: none;
    }
    .career .images div:nth-child(5){
        position: relative;
        top: -25px;
        width: 264.114px;
        height: 264.114px;
        display: none;
    }
    .career .images > div >img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}