main.resume h1{
color: var(--White, #FFF);
text-align: center;
font-family: Sen;
font-size: 48px;
margin-top: 50px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-align: center;
position: relative;
left: 50%;
transform: translateX(-50%);
}

.experiences{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 40px;
}
.experiences >div:not(:first-child){
    margin-bottom: 30px;

}
.experiences .description{
    padding: 0 100px;
}
.experiences .skills{
    padding: 0 100px;
}
.experiences  h2{
    color: rgba(255, 255, 255, 0.87);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;  
    margin-bottom: 20px;
     
}

.experiences .description ul{
    color: rgba(255, 255, 255, 0.87);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33.6px;
    padding-left: 20px;
}

.experiences > .projects{
    background-color: #181B21;
    padding: 40px 100px;

}

.experiences > .projects > ul{
    list-style: none;
    margin-top: 40px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    width: 100%;
}

@media(max-width:1220px){
    main.resume h1{
        font-size: 38px;
    }
    .experiences{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        gap: 30px;
    }
    .experiences >div:not(:first-child){
        margin-bottom: 30px;
    
    }
    .experiences .description{
        padding: 0 40px;
    }
    .experiences .skills{
        padding: 0 40px;
    }
    .experiences  h2{
        color: rgba(255, 255, 255, 0.87);
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;  
        margin-bottom: 20px;
         
    }
    
    .experiences .description ul li{
        color: rgba(255, 255, 255, 0.87);
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 25.6px;
        padding-left: 20px;
        margin-bottom: 4px;
    }
    
    .experiences > .projects{
        background-color: #181B21;
        padding: 40px;
    
    }
    
    .experiences > .projects > ul{
        list-style: none;
        margin-top: 40px;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        justify-content: space-between;
        width: 100%;
    }
    
}
@media(max-width:800px){
    main.resume h1{
        font-size:30px;
    }
    .experiences{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        gap: 20px;
    }
    .experiences >div:not(:first-child){
        margin-bottom: 20px;
    
    }
    .experiences .description{
        padding: 0 40px;
    }
    .experiences .skills{
        padding: 0 40px;
    }
    .experiences  h2{
        color: rgba(255, 255, 255, 0.87);
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;  
        margin-bottom: 20px;
         
    }
    
    .experiences .description ul li{
        color: rgba(255, 255, 255, 0.87);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20.6px;
        padding-left: 20px;
        margin-bottom: 4px;
    }
    
    .experiences > .projects{
        background-color: #181B21;
        padding: 40px;
    
    }
    
    .experiences > .projects > ul{
        list-style: none;
        margin-top: 40px;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;
        width: 100%;
    }
    
}
@media(max-width:450px){
    main.resume h1{
        font-size:22px;
    }
    .experiences{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        gap: 8px;
    }
    .experiences >div:not(:first-child){
        margin-bottom: 12px;
    
    }
    .experiences .description{
        padding: 0 20px;
        padding-right: 12px;
    }
    .experiences .skills{
        padding: 0 20px;
    }
    .experiences  h2{
        color: rgba(255, 255, 255, 0.87);
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;  
        margin-bottom: 20px;
         
    }
    
    .experiences .description ul li{
        color: rgba(255, 255, 255, 0.87);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20.6px;
        padding-left: 20px;
        margin-bottom: 4px;
    }
    
    .experiences > .projects{
        background-color: #181B21;
        padding: 40px;
    
    }
    
    .experiences > .projects > ul{
        list-style: none;
        margin-top: 40px;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;
        width: 100%;
    }
    
}